@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-bottom: 10%;
}

section {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

section svg {
    width: 100%;
    height: 100%;
}

nav {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    display: inline-flex;
    justify-content: space-between;
}

nav img {
    max-height: 50px;
}

nav h1 {
    font-weight: normal;
}

.instructors {
    margin-left: 5%;
    margin-top: 3%;
    padding: 5% 5% 10% 5%;
    width: 90%;
    max-height: 600px;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.instructors .header {
    padding-bottom: 10%;
}

.instructors .header h2 {
    font-size: 40px;
}

.instructor {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 30%;
    justify-content: space-between;
    align-items: flex-start;
}

.instructor img {
    margin-top: -125px;
    max-height: 300px;
    filter: grayscale(1);
    transition: filter 0.1s ease;
}

.instructor img:hover {
    filter: grayscale(0);
    transition: filter 0.1s ease;
}

.instructor-text {
    margin-top: -25px;
}

.instructor-text h3 {
    font-size: 30px;
    font-weight: normal;
}

.instructor-text h4 {
    font-size: 24px;
    font-weight: normal;
}

.hero-header {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 3% 0% 3% 3%;
    max-height: 600px;
    display: grid;
    grid-template-columns: 46% 0% 44%;
    justify-content: space-between;
    overflow: hidden;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hero-header .left {
    padding: 100px 0px 0px 50px;
    display: grid;
    grid-template-rows: 20% 80%;
}

.hero-header .left h2 {
    font-size: 24px;
    font-weight: normal;
}

.hero-header img {
    max-height: 500px;
    border-radius: 25px;
}

.course-info-cards {
    margin-top: 5%;
    max-height: 150px;
    max-width: 90%;
    margin-left: 5%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.course-info-cards .card {
    padding: 25px;
    max-width: 100%;
    max-height: 100%;
}

.course-info-cards .card h2 {
    font-weight: 600;
    font-size: 20px;
}

.course-info-cards .card h3 {
    font-weight: 400;
    font-size: 16px;
}

.course-job-explanation { 
    max-width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    max-height: 450px;
    padding: 5% 5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.course-job-explanation h1 {
    font-weight: normal;
    font-size: 24px;
}

.for-whom {
    margin-top: 5%;
    max-width: 90%;
    margin-left: 5%;
    max-height: 100%;
    padding: 8% 10%;
    display: grid;
    

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.for-whom h1 {
    font-size: 40px;
    font-weight: 700;
}

.for-whom .cards {
    padding: 5% 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.for-whom .card {
    padding: 0px 25px;
}

.for-whom .card h2 {
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
}

.for-whom .card h3 {
    font-weight: 400;
    font-size: 16px;
}

.for-whom .card img {
    max-height: 200px;
    border-radius: 25px;
}

.learning-outcomes {
    margin-top: 5%;
    max-width: 90%;
    margin-left: 5%;
    max-height: 100%;
    padding: 8% 10%;
    display: grid;
    grid-template-rows: 10% 90%;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.learning-outcomes h1 {
    font-size: 40px;
    font-weight: 700;
}

.learning-outcomes .cards {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.learning-outcomes .cards .card {
    max-height: 70%;
    max-width: 90%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

.learning-outcomes .cards .card h2 {
    padding: 3% 0;
    font-size: 20px;
    font-weight: 600;
}

.learning-outcomes .cards .card h3 {
    padding: 3% 0;
    font-size: 16px;
    font-weight: 400;
}

.learning-outcomes .cards .card i {
    padding: 3% 0;
    font-size: 32px;
}

.learning-process {
    margin-top: 5%;
    max-width: 90%;
    margin-left: 5%;
}

.learning-process .card {
    max-height: 600px;
    margin-top: 5%;
}

.learning-process .card:nth-of-type(1) {
    margin-top: 0;
}

.learning-process > div {
    max-height: 100%;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.learning-process > div .card-text {
    display: grid;
    max-height: 40%;
    max-width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.learning-process > div .card-text h4 {
    padding: 1% 0;
    font-weight: normal;
}

.learning-process > div .card-text h2 {
    padding: 1% 0;
    font-weight: 600;
}

.learning-process > div .card-text h3 {
    padding: 1% 0;
    font-weight: normal;
    font-size: 16px;
}

.learning-process .card img {
    padding: 5% 0;
    margin-right: 5%;
    max-height: 450px;
    border-radius: 25px;
}

.learning-process .card .img-reverse {
    margin-left: 5%;
}

.course-curriculum {
    margin-top: 5%;
    width: 90%;
    max-height: 100%;
    margin-left: 5%;
    padding: 10%;
    display: grid;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.course-curriculum .header {
    padding-bottom: 10%;
    max-height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.course-curriculum .header > p {
    font-weight: 700;
    font-size: 32px;
}

.course-curriculum .curriculum-details {
    display: grid;
    max-height: 80%;
    justify-content: space-between;
}

.course-curriculum .curriculum-details .spans {
    padding-top: 5%;
    max-width: 40%;
    display: inline-flex;
    justify-content: space-between;
}

.course-curriculum .curriculum-details .spans span {
    font-size: 24px;
    font-weight: 700;
}

.course-curriculum .month {
    max-width: 100%;
    display: inline-grid;
}

.curriculum-card {
    position: relative;
    padding: 5% 0;
    transition: all 0.15s ease-in-out;
}

.curriculum-card ul {
    padding: 0 0;
    height: 0px;
    display: none;
    transition: all 0.15s ease-in-out;
}

.curriculum-card.active ul {
    display: grid;
    padding: 50px 0;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    transition: all 0.15s ease-in-out;
}

.curriculum-card li {
    padding: 25px 0;
    max-height: 50px;
    transition: all 0.15s ease-in-out;
}

.curriculum-card h2 {
    font-weight: 500;
}

.course-curriculum .card-content {
    position: relative;
    width: 100%;    
    display: inline-flex;
    justify-content: space-between;
    z-index: 1;
}

.course-curriculum .card-content i {
    position: absolute;
    right: 0;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.curriculum-card.active i {
    transform: rotateZ(-90deg);
    transition: all 0.15s ease-in-out;
}

.projects {
    margin-top: 5%;
    max-width: 90%;
    margin-left: 5%;
}

.projects .card {
    max-height: 600px;
    margin-top: 5%;
    padding: 5%;
}

.projects .card:nth-of-type(1) {
    margin-top: 0;
}

.projects > div {
    max-height: 100%;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.projects > div .card-text {
    display: grid;
    max-height: 40%;
    max-width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.projects > div .card-text h4 {
    padding: 3% 0;
    font-weight: normal;
}

.projects > div .card-text h2 {
    padding: 3% 0;
    font-weight: 600;
}

.projects > div .card-text h3 {
    padding: 3% 0;
    font-weight: normal;
    font-size: 16px;
}

.projects .card img {
    padding: 5% 0;
    margin-right: 5%;
    max-height: 450px;
    border-radius: 25px;
}

.projects .card .img-reverse {
    margin-left: 5%;
}

.faq-section {
    max-height: 100%;
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    padding: 5%;
    display: grid;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px ) opacity(0.1);
    -webkit-backdrop-filter: blur( 10px ) opacity(0.1);
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.faq-card h2 {
    font-weight: 500;
    transition: all 0.15s ease-in-out;
}

.faq-card-content p {
    padding: 0 0;
    height: 0px;
    display: none;
    transition: all 0.15s ease-in-out;
}

.faq-card.active .faq-card-content p {
    display: grid;
    padding: 50px 0;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    transition: all 0.15s ease-in-out;
}

.faq-card.active .faq-card-content {
    transition: all 0.15s ease-in-out;
}

.faq-card-content {
    position: relative;
    width: 100%;    
    display: inline-flex;
    justify-content: space-between;
    z-index: 1;
    transition: all 0.15s ease-in-out;
}

.faq-card i {
    position: absolute;
    right: 0;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.faq-card.active i {
    transform: rotateZ(-90deg);
    transition: all 0.15s ease-in-out;
}

@media screen and (max-width: 1200px) {

    * {
        max-width: 100%;
    }

    section svg {
        height: 100%;
        width: 100%;
    }

    .instructor img {
        margin-top: -100px;
    }

    .hero-header {
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
        padding: 3% 0%;
        max-height: 600px;
    }

    .hero-header .left {
        padding: 25px 0px 0px 50px;
    }
    
    .hero-header .left h1 {
        font-size: 24px;
    }

    .hero-header .left h2 {
        font-size: 20px;
        font-weight: normal;
    }
    
    .hero-header img {
        max-height: 350px;
    }

    .course-info-cards .card h2 {
        font-weight: 600;
        font-size: 16px;
    }
    
    .course-info-cards .card h3 {
        font-weight: 400;
        font-size: 16px;
    }

    #card-text-reverse-1,
    #card-text-reverse-2 {
        margin-left: 0;
    }
}

@media screen and (max-width: 992px) {

    * {
        max-width: 100%;
    }

    section svg {
        height: 100%;
        width: 100%;
    }

    nav {
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
    }

    .instructors {
        padding: 7%;
    }

    .instructor {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 100%;
    }

    .instructor img {
        display: none;
    }

    .hero-header {
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
        padding: 3% 0%;
        padding-bottom: 7%;
        max-height: 600px;
        grid-template-columns: 46% 0% 44%;
    }
    
    .hero-header .left {
        padding: 25px 0px 0px 50px;
        display: grid;
        grid-template-rows: 20% 80%;
    }

    .hero-header .left h1 {
        font-size: 22px;
    }
    
    .hero-header .left h2 {
        font-size: 18px;
        font-weight: normal;
    }
    
    .hero-header img {
        padding-top: 10%;
        max-height: 350px;
    }

    .course-info-cards {
        margin-top: 5%;
        height: 100px;
        width: 90%;
        justify-content: center;
        align-content: center;
    }

    .course-info-cards .card {
        padding: 0px 15px;
    }
    
    .course-info-cards .card h2 {
        font-weight: 600;
        font-size: 16px;
    }
    
    .course-info-cards .card h3 {
        font-weight: 400;
        font-size: 12px;
    }
    
    .course-job-explanation { 
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }

    .course-job-explanation h1 {
        padding: 5%;
        font-size: 20px;
    }

    .course-job-explanation h2 {
        font-size: 18px;
    }

    .for-whom {
        margin-top: 10%;
        width: 90%;
        padding: 5% 10% 0% 10%;
        justify-content: center;
        align-content: center;
    }
    
    .for-whom h1 {
        font-size: 40px;
        font-weight: 700;
    }
    
    .for-whom .cards {
        padding: 5% 0%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        text-align: center;
    }
    
    .for-whom .card {
        padding: 50px 0px;
    }
    
    .for-whom .card h2 {
        font-weight: 600;
        font-size: 20px;
    }
    
    .for-whom .card h3 {
        display: none;
    }
    
    .for-whom .card img {
        max-height: 200px;
    }

    .learning-outcomes {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
        grid-template-rows: 10% 90%;
    }

    .learning-outcomes .cards {
        width: 100%;
    }

    .learning-outcomes .cards .card {
        padding-top: 5%;
        max-height: 70%;
        width: 90%;
        grid-template-rows: 33% 33% 33%;
    }

    .learning-process {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .learning-process .card {
        width: 100%;
        max-height: 600px;
        margin-top: 5%;
    }
    
    .learning-process > div {
        max-height: 100%;
        padding: 5% 5%;
    }
    
    .learning-process > div .card-text {
        display: grid;
        max-height: 40%;
        max-width: 90%;
    }
    
    .learning-process > div .card-text h4 {
        padding: 5% 0;
        font-weight: normal;
    }
    
    .learning-process > div .card-text h2 {
        padding: 5% 0;
        font-weight: 600;
        font-size: 20px;
    }
    
    .learning-process > div .card-text h3 {
        display: none;
    }

    .learning-process .card img {
        max-height: 400px;
        border-radius: 25px;
    }

    .course-curriculum {
        margin-top: 5%;
        width: 90%;
        max-height: 100%;
        margin-left: 5%;
        padding: 10%;
        display: grid;
    }

    .projects {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }

    .projects #card-1, #card-3, #card-5 {
        padding-left: 15%;
    }
    
    .projects #card-2, #card-4 {
        padding-right: 15%;
    }
    
    .projects .card {
        max-height: 600px;
        margin-top: 8%;
    }

    .projects .card img {
        max-height: 350px;
    }

    .faq-section {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        padding: 10% 10% 10% 10%;
        display: grid;
    }

}

@media screen and (max-width: 767px) {
    
    section svg {
        height: 100%;
        width: 100%;
    }

    nav {
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
    }

    .instructor {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 100%;
    }

    .instructor img {
        display: none;
    }

    .instructors .header h2 {
        font-size: 36px;
    }

    .instructor .instructor-text h3 {
        font-size: 24px;
    }

    .instructor .instructor-text h4 {
        font-size: 22px;
    }

    .hero-header {
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
        padding: 3% 0% 8% 0%;
        max-height: 600px;
        grid-template-columns: 100% 0 0;
    }
    
    .hero-header .left {
        padding: 25px 0px 0px 50px;
        display: grid;
        grid-template-rows: 20% 80%;
    }

    .hero-header .left h1 {
        font-size: 22px;
    }
    
    .hero-header .left h2 {
        font-size: 18px;
        font-weight: normal;
    }
    
    .hero-header img {
        display: none;
    }

    .course-info-cards {
        margin-top: 5%;
        height: 200px;
        width: 90%;
        margin-left: 5%;
        padding-left: 8%;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-content: center;
    }

    .course-info-cards .card {
        padding: 15px 15px;
    }
    
    .course-info-cards .card h2 {
        font-weight: 600;
        font-size: 16px;
    }
    
    .course-info-cards .card h3 {
        font-weight: 400;
        font-size: 12px;
    }
    
    .course-job-explanation { 
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }

    .course-job-explanation h1 {
        padding: 5%;
        font-size: 20px;
    }

    .course-job-explanation h2 {
        font-size: 18px;
    }

    .for-whom {
        margin-top: 10%;
        width: 90%;
        padding: 5% 10% 0% 10%;
        justify-content: center;
        align-content: center;
    }
    
    .for-whom h1 {
        font-size: 28px;
        font-weight: 700;
    }
    
    .for-whom .cards {
        padding: 5% 0%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        text-align: center;
    }
    
    .for-whom .card {
        padding: 50px 15px;
    }
    
    .for-whom .card h2 {
        font-weight: 600;
        font-size: 20px;
    }
    
    .for-whom .card h3 {
        display: none;
    }
    
    .for-whom .card img {
        max-height: 125px;
    }

    .learning-outcomes {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
        grid-template-rows: 8% 92%;
    }

    .learning-outcomes .cards {
        width: 100%;
        padding-bottom: 8%;
    }

    .learning-outcomes .cards .card {
        padding-top: 5%;
        max-height: 70%;
        width: 90%;
        grid-template-rows: 33% 33% 33%;
    }

    .learning-process {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .learning-process .card {
        width: 100%;
        max-height: 600px;
        margin-top: 5%;
    }
    
    .learning-process > div {
        max-height: 100%;
        padding: 5% 5%;
    }
    
    .learning-process > div .card-text {
        display: grid;
        max-height: 40%;
        max-width: 90%;
    }
    
    .learning-process > div .card-text h4 {
        padding: 5% 0;
        font-weight: normal;
    }
    
    .learning-process > div .card-text h2 {
        padding: 5% 0;
        font-weight: 600;
        font-size: 20px;
    }
    
    .learning-process > div .card-text h3 {
        display: none;
    }

    .learning-process .card img {
        max-height: 250px;
        border-radius: 25px;
    }

    .course-curriculum {
        margin-top: 5%;
        width: 90%;
        max-height: 100%;
        margin-left: 5%;
        padding: 10%;
        display: grid;
    }

    .projects {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .projects .card {
        max-height: 600px;
        margin-top: 5%;
    }

    .projects .card img {
        max-height: 250px;
    }

    .projects > div .card-text {
        margin-right: 0%;
    }

    .faq-section {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        padding: 10% 10% 10% 10%;
        display: grid;
    }

    .faq-section .curriculum-card {
        padding: 5% 0%;
    }

    .faq-section .card-content {
        width: 90%;    
        z-index: 1;
    }

    .faq-section .curriculum-card.active ul {
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        padding: 15px 0 75px 0;
    }
}

@media screen and (max-width: 650px) {

    section svg {
        height: 100%;
        width: 100%;
    }

    nav {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        justify-content: center;
    }

    nav h1 {
        display: none;
    }
    
    .instructors {
        padding: 10%;
    }

    .hero-header {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        padding: 3% 0% 8% 0%;
        max-height: 600px;
        grid-template-columns: 100% 0 0;
    }
    
    .hero-header .left {
        padding: 25px 50px 25px 50px;
        display: grid;
        grid-template-rows: 20% 80%;
    }

    .hero-header .left h1 {
        font-size: 22px;
    }
    
    .hero-header .left h2 {
        font-size: 18px;
        font-weight: normal;
    }
    
    .hero-header img {
        display: none;
    }

    .course-info-cards {
        margin-top: 5%;
        height: 200px;
        width: 90%;
        margin-left: 5%;
        padding-left: 8%;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-content: center;
    }

    .course-info-cards .card {
        padding: 15px 15px;
    }
    
    .course-info-cards .card h2 {
        font-weight: 600;
        font-size: 16px;
    }
    
    .course-info-cards .card h3 {
        font-weight: 400;
        font-size: 12px;
    }
    
    .course-job-explanation { 
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }

    .course-job-explanation h1 {
        padding: 5%;
        font-size: 20px;
    }

    .course-job-explanation h2 {
        font-size: 18px;
    }

    .for-whom {
        margin-top: 10%;
        width: 90%;
        padding: 5%;
        justify-content: center;
        align-content: center;
    }
    
    .for-whom h1 {
        margin-left: 10%;
        font-size: 28px;
        font-weight: 700;
    }
    
    .for-whom .cards {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        text-align: center;
    }
    
    .for-whom .card {
        padding: 50px 15px;
    }
    
    .for-whom .card h2 {
        font-weight: 600;
        font-size: 20px;
    }
    
    .for-whom .card h3 {
        display: none;
    }
    
    .for-whom .card img {
        max-height: 125px;
    }

    .learning-outcomes {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }

    .learning-outcomes .cards {
        width: 100%;
        padding-bottom: 8%;
        display: grid;
        grid-template-columns: 100%;
    }

    .learning-outcomes .cards .card {
        padding-top: 5%;
        max-height: 70%;
        width: 90%;
        grid-template-rows: 33% 33% 33%;
    }

    .learning-process {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .learning-process .card {
        width: 100%;
        max-height: 600px;
        margin-top: 5%;
    }
    
    .learning-process > div {
        max-height: 100%;
        padding: 5% 5%;
    }
    
    .learning-process > div .card-text {
        display: grid;
        max-height: 40%;
        max-width: 90%;
    }
    
    .learning-process > div .card-text h4 {
        padding: 5% 0;
        font-weight: normal;
    }
    
    .learning-process > div .card-text h2 {
        padding: 5% 0;
        font-weight: 600;
        font-size: 20px;
    }
    
    .learning-process > div .card-text h3 {
        display: none;
    }

    .learning-process .card img {
        max-height: 250px;
        border-radius: 25px;
    }

    .course-curriculum {
        margin-top: 5%;
        width: 90%;
        max-height: 100%;
        margin-left: 5%;
        padding: 10%;
    }

    .course-curriculum .header {
        display: grid;
        grid-template-columns: 100%;
    }

    .curriculum-details {
        padding-top: 5%;
    }

    .curriculum-card h2 {
        font-size: 20px;
    }

    .projects {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .projects .card {
        max-height: 250px;
        margin-top: 5%;
    }

    .projects .card img {
        max-height: 150px;
        padding: 0;
    }

    .projects .card-text {
        margin-right: 0%;
        margin-left: 0%;
    }

    .projects .card .img-reverse {
        margin-left: 0%;
    }

    .faq-section {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        padding: 10% 10% 10% 10%;
        display: grid;
    }

    .faq-card h2 {
        font-size: 20px;
    }

}

@media screen and (max-width: 500px) {

    section svg {
        height: 100%;
        width: 100%;
    }

    nav {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        justify-content: center;
    }

    nav h1 {
        display: none;
    }
    
    .instructors {
        padding: 13%;
    }

    .instructors .header h2 {
        font-size: 30px;
    }

    .instructor .instructor-text h3 {
        padding-top: 5%;
        font-size: 20px;
    }

    .instructor .instructor-text h4 {
        font-size: 18px;
    }

    .hero-header {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        padding: 3% 0% 8% 0%;
        max-height: 600px;
        grid-template-columns: 100% 0 0;
    }
    
    .hero-header .left {
        padding: 25px 50px 25px 50px;
        display: grid;
        grid-template-rows: 20% 80%;
    }

    .hero-header .left h1 {
        font-size: 22px;
    }
    
    .hero-header .left h2 {
        font-size: 18px;
        font-weight: normal;
    }
    
    .hero-header img {
        display: none;
    }

    .course-info-cards {
        margin-top: 5%;
        height: 200px;
        width: 90%;
        margin-left: 5%;
        padding-left: 8%;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-content: center;
    }

    .course-info-cards .card {
        padding: 15px 15px;
    }
    
    .course-info-cards .card h2 {
        font-weight: 600;
        font-size: 16px;
    }
    
    .course-info-cards .card h3 {
        font-weight: 400;
        font-size: 12px;
    }
    
    .course-job-explanation { 
        max-height: 150%;
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }

    .course-job-explanation h1 {
        padding: 5%;
        font-size: 20px;
    }

    .course-job-explanation h2 {
        font-size: 18px;
    }

    .for-whom {
        margin-top: 5%;
        width: 90%;
        padding: 5%;
        justify-content: center;
        align-content: center;
    }
    
    .for-whom h1 {
        position: absolute;
        margin-top: 10%;
        font-size: 24px;
        font-weight: 700;
    }
    
    .for-whom .cards {
        margin-top: 10%;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        text-align: center;
    }
    
    .for-whom .card {
        padding: 50px 15px;
    }
    
    .for-whom .card h2 {
        font-weight: 600;
        font-size: 20px;
    }
    
    .for-whom .card h3 {
        display: none;
    }
    
    .for-whom .card img {
        max-height: 125px;
    }

    .learning-outcomes {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
        justify-content: center;
        text-align: center;
    }

    .learning-outcomes .cards {
        margin-top: -10%;
        width: 100%;
        padding-bottom: 25%;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .learning-outcomes .cards .card {
        padding-top: 5%;
        max-height: 70%;
        width: 100%;
        grid-template-rows: 33% 33% 33%;
    }

    .learning-outcomes h1 {
        font-size: 24px;
    }

    .learning-process {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .learning-process .card {
        width: 100%;
        max-height: 600px;
        margin-top: 5%;
        justify-content: center;
        text-align: center;
    }
    
    .learning-process > div {
        max-height: 100%;
        padding: 5% 5%;
    }
    
    .learning-process > div .card-text {
        display: grid;
        max-height: 40%;
        max-width: 90%;
    }
    
    .learning-process > div .card-text h4 {
        padding: 5% 0;
        font-weight: normal;
    }
    
    .learning-process > div .card-text h2 {
        padding: 5% 0;
        font-weight: 600;
        font-size: 20px;
    }
    
    .learning-process > div .card-text h3 {
        display: none;
    }

    .learning-process .card img {
        display: none;
    }

    .course-curriculum {
        margin-top: 5%;
        width: 90%;
        max-height: 100%;
        margin-left: 5%;
        padding: 10%;
    }

    .course-curriculum .header {
        display: grid;
        grid-template-columns: 100%;
    }
    
    .course-info-cards .card h2 {
        font-weight: 600;
        font-size: 16px;
    }
    
    .course-info-cards .card h3 {
        font-weight: 400;
        font-size: 12px;
    }

    .course-curriculum .curriculum-details {
        padding-top: 5%;
    }

    .course-curriculum .curriculum-card {
        margin-top: 15%;
    }

    .course-curriculum .curriculum-card h2 {
        max-width: 300px;
    }

    .projects {
        margin-top: 5%;
        max-width: 90%;
        width: 90%;
        margin-left: 5%;
    }
    
    .projects .card {
        max-height: 250px;
        margin-top: 5%;
        text-align: center;
    }

    .projects .card img {
        height: 0;
        display: none;
    }

    .projects .card-text {
        margin-right: 0%;
        margin-left: 0%;
    }

    .projects .card .img-reverse {
        margin-left: 0%;
    }

    .faq-section {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        padding: 10% 10% 10% 10%;
        display: grid;
    }

    .faq-card h2 {
        max-width: 300px;
    }

}

@media screen and (max-width: 400px) {
    
    .instructors {
        padding: 10%;
    }

    .hero-header {
        padding: 0 5% 5% 0;
    }

    .hero-header .left {
        padding: 10%;
    }

    .course-info-cards {
        padding: 0 5% 0 0;
        min-height: 200px;
    }

    .learning-outcomes .card:first-child {
        margin-top: -50px;
    }

    .learning-outcomes .card {
        margin-top: -100px;
        height: 500px;
    }

    .learning-outcomes .card i {
        margin-top: 25px;
        margin-bottom: -50px;
    }

    .course-curriculum .curriculum-details {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .course-curriculum h2 {
        width: 90%;
    }

    .course-curriculum .curriculum-card {
        margin-top: 10%;
    }

    .faq-card-content {
        max-width: 300px;
    }

    #month-1 {
        padding-top: 25%;
    }

    .curriculum-card h2 {
        font-size: 18px;
    }

    .faq-card h2 {
        font-size: 18px;
    }

}